<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			            http://www.springframework.org/schema/context
			            http://www.springframework.org/schema/context/spring-context-4.2.xsd
			            http://www.springframework.org/schema/tx
			            http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
		
	<!-- 邮件发送服务 -->
	<bean id="mailService" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.163.com"/>
		<property name="port" value="25"/>
		<property name="username" value="m18779334084@163.com"/>
		<property name="password" value="Xhb745567172"/>
	</bean> 
  <!--  <bean id="mailService" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.qq.com"/>
		<property name="port" value="465"/>
		<property name="username" value="2607142492@qq.com"/>
		<property name="password" value="1446778775"/>
	</bean>    -->    
</beans>
