@charset "utf-8";
.input-style {
	width: 280px;
}
.textare-style {
	width: 800px;
	height: 300px;
	visibility: hidden;
}
.select-style {
	width: 200px;
}
.panel-style {
	padding-left: 4px;
	border-bottom: 0px;
	padding: 10px;
}
form div {
	margin-bottom:20px;
}
.tabs div {
	padding:20px;
}
.searchForm {
	border-style: dashed;
	border: #00BBEE;
	border-width: 10px;
}
.textarea-style {
	width: 500px;
	height: 300px;
}
#tab{border: 0px;padding: 0;background-color:#F4F4F4;}
#grid{margin: 0px;}